{% extends 'base.html' %} {% block content%}
<div class="container mt-3">
    <div class="row">
        <div class="col-md-7">
            <h1>Reviews</h1>
            {% for review in reviews %}
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{{ review.artifact.image.url }}" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{review.artifact.title}}</h5>
                            <p class="card-text">{{review.review}}</p>
                            <p class="card-text"><small class="text-muted">by {{review.user.username}}</small></p>
                            {% if request.user == review.user %}
                            <a class="btn btn-secondary" href="{% url 'review_edit' pk=review.pk %}">Edit</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="jumbotron col-md-5">
            <h3>Review your purchased items:</h3>

            {% for artifact in artifacts %}
            <p><a href="{% url 'review_new' pk=artifact.pk %}">{{artifact.title}}</a></p>

            {% empty %}
            <div>Sorry! No items purchased.</div>


            {% endfor %}

        </div>
    </div>



</div>
{% endblock %}