Build an auction place to sell historical artifacts

    External user’s goal:
        Find, learn about and acquire artifacts they are interested in

    Site owner's goal:
        Earn money on selling the artifacts (the site owner is the seller)

Potential features to include:
    Create an online store focused on selling unique historical artifacts, such as The Holy Grail to the highest bidder.

    Allow users to search for artifacts based on various fields.

    Allow users to see the price, image and other basic details about an artifact.

    Users would be able to learn about the historical details of each artifact, the culture it came from, the way it was created and its journey across different owners in the past.

    For example, you might want to include information about "events" that took place in the past and that one or more artifacts took place in, or originated from.

    Allow users to bid on items, or pay a higher price to purchase them immediately. Users have to be registered for this.

(*) Advanced potential feature (nice-to-have)
(ok) Allow registered users to write reviews about the artifacts, only if they purchased them.

(ok) Expand the search functionality to allow users to sort results based on price, age and other parameters in both ascending and descending order.

(**) Include pagination and/or other dynamic display actions using javascript.

(***) Use javascript polling to update the page whenever there's a new bid.