{% extends 'base.html' %} {% block content%}
<!-- {{order.id}} -- {{ object.cart }} -->

{% if not billing_profile %}
<div class="jumbotron">
    <p>Login</p>
    <p>Continue as Guest</p>
    {% url 'guest_register' as guest_register_url %}
    {% include 'accounts/snippets/form.html' with form=guest_form action_url=guest_register_url %}
</div>


{% else %}

{% if not object.shipping_address %}
<div class="row">
    <div class='col-md-6 mx-auto col-10'>
        <p class='lead'>Shipping Address</p>
        <hr />
        {% url 'checkout_address' as checkout_address_url %}
        {% include 'addresses/form.html' with form=address_form action_url=checkout_address_url address_type='shipping'%}
    </div>
</div>


{%else%}
<div class="jumbotron">
    <h1>Checkout</h1>
    <div class="row">
        <div class="col-md-6 offset-md-3">

            <p>Cart total: €{{ object.cart.total }}</p>
            <p>Standard shipping fee: €50</p>
            <hr>
            <p style="font-size:1.5rem;">Total: €{{ object.total}}</p>
        </div>
    </div>

</div>
{% endif %}
{% endif %}
{% endblock content%}