{% extends 'base.html' %} {% block content%}
<div class="container">
  <h1>Cart</h1>
  {% if cart.artifacts.exists %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Artifact Name</th>
        <th scope="col">Price</th>


      </tr>
    </thead>
    <tbody>
      {% for artifact in cart.artifacts.all %}
      <tr>
        <th scope="row">{{ forloop.counter}}</th>
        <td><a
            href='{{ artifact.get_url}}'>{{artifact.title}}{% include "artifacts/snippets/update-card.html" with artifact=artifact cart=cart in_cart=True%}</a>
        </td>
        <td>{{artifact.price}} €</td>


      </tr>
      {% endfor %}
      <tr>
        <td colspan='2'></td>

        <td><b>Total:</b>{{cart.total}} €</td>
      </tr>
      <tr>
        <td colspan='2'></td>

        <td><a class='btn btn-info' href="{% url 'cart:checkout' %}">Finalize order</a></td>
      </tr>
    </tbody>
  </table>
  {% else %}
  <p class='lead'>Cart is empty.</p>
  {% endif %}
</div>

{% endblock content%}