{% extends 'base.html' %} {% block content%}

<div class="container">
  <h1>{{ artifact.title }}</h1>

  {% if artifact.image %}
  <div class="jumbotron">
    <img src="{{ artifact.image.url }}" class="img-fluid" />
  </div>
  {% endif %}

  <h3>Description</h3>
  <p>{{ artifact.description }}</p>



  <h3>Year</h3>
  <p>{{ artifact.year }}</p>
  <h3>Origin</h3>
  <p>{{ artifact.origin }}</p>
  <!-- <p>Image width: {{ artifact.image.width }}</p> -->
</div>

<div class="container">
  <div class="jumbotron">
    <h3>Buy-now Price</h3>
    <p>{{ artifact.price }} €</p>
    <div class="col-md-4">
      {% include "artifacts/snippets/update-card.html" with artifact=object cart=cart %}
    </div>
    <div>

      <h3 class='mt-3'> Bids history</h3>

      {% for bid in bids %}
      {% if artifact.id == bid.artifact.id %}
      <p>{{ bid.offer }} € </p>
      {% endif %}
      {% endfor %}


    </div>


    <div class="col-md-4">
      {% include "artifacts/snippets/bid.html" with artifact=object %}
    </div>

  </div>
</div>



{% endblock %}